<hr class="footer" title="Begin Footer" aria-hidden="true"/>
<div id="mobile" class="row">
    <div class="one columns">
        <div id="options">
            <a href="">View Full Site</a> | <a href="">Download App</a>
        </div>
        <hr />
        <address>
            <strong>The Bangor Daily News</strong><br />
            P.O. Box 1329<br />
            Bangor, ME 04402-1329<br />
            Toll-free in Maine: 1-800-432-7964<br />
            207-990-8000<br />
            <a href="mailto:bdnnews@bangordailynews.com">bdnnews@bangordailynews.com</a>
        </address>
    </div>
</div>
<hr class="footer" title="End Footer" aria-hidden="true"/>
