// Branding Variables
//--------------------------------

// Northern Weekly Paper Defaults

// Masthead
$brand-name: "BPC Weekly Paper" !default;

@mixin text-masthead {
  font-family: $font-family-masthead;
  font-size: 1.8rem;
  font-weight: bold;
  font-variant: small-caps;

  &:after {
    content: $brand-name;
    display: inline-block;
    width: 220px;
    line-height: 50px;
    text-align: center;
  }
}

// Logo
$brand-logo: "/wp-content/themes/timber-weekly/logos/nw.png" !default;

// Brand Colors
$brand:        #999 !default;
$brand-dark:   #333 !default;
$brand-light:  #eee !default;
$brand-comp:   #ccc !default;
$brand-accent: $brand-dark !default;

$newsprint-body:    #c6c3be !default;
$newsprint-content: #edeae6 !default;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
//@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700);

// Typography
$font-family-masthead: $font-family !default;
$font-family-system: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-lead:   $font-family !default;
$font-family-copy:   $font-family !default;

$link-color:       $brand-dark;
$font-color-dark:  #222 !default;
$font-color-light: #fff !default;

@mixin text-light-on-dark {
  color: $font-color-light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin text-menu {
  font-family: $font-family-system;
}

@mixin text-headline {
  font-family: $font-family-lead;
}

@if     ( $publication == "AR") {
  // Aroostook Republican

  // Masthead
  $brand-name: "Aroostook Republican";

  // Logo
  $brand-logo: "/wp-content/themes/timber-weekly/logos/nw.png";

  // Colors
  $brand:       #ea5c24;
  $brand-dark:  #913916;
  $brand-light: #e0d0c0;
  $brand-comp:  #e5bc89;
  $brand-accent: $dark-grey;

  // Fonts


  // Typography
  $font-family-masthead: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  $font-family-system: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  $font-family-lead: 'Crimson Text', Garamond, serif;
  $font-family-copy: $font-family;

  $link-color:       $brand-dark;
  $font-color-dark:  #222;
  $font-color-light: #fff;
}
@else if( $publication == "FF" ) {}
@else if( $publication == "HP" ) {}
@else if( $publication == "PO" ) {}
@else if( $publication == "SJ" ) {}
@else if( $publication == "SH" ) {}
@else {}
