<article id="" class="post {{ options|join(' ') }}">
    <img class="img" src="{{ theme.link }}/logos/nw.png" />
    <div class="info">
        <h6 class="post-item headline">Example of a standard-ish sixty char or less headline</h6>
        <span class="post-item meta">January 1, 2017 <span class="tag">tag</span></span>
        <div class="post-item teaser">Here is the begining of some article hopefully</div>
    </div>
    <span class="goto"><span class="fa fa-chevron-right" title="Go to article" aria-hidden="true"></span></span>
</article>